################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TravisFreeburgFinance/v15
/TravisFreeburgFinance/bin
/TravisFreeburgFinance/obj
